.login {
  height: 80vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

.loginButton {
  background-color: teal;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.loginCont {
  padding: 10px;
}
