.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.wrapper {
  padding: 20px;
  color: #555;
}

.menu {
  margin-bottom: 10px;
}

.title {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.list {
  list-style: none;
  padding: 5px;
}

.listItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 12px;
}

.listItem.active,
.listItem:hover {
  background-color: rgb(240, 240, 255);
}

.listItem svg {
  margin-right: 5px;
  font-size: 20px !important;
}
